@import 'tailwindcss';

:root {
  --color-primary: #e11d48;
  --color-tertiary: #ef4444;
  
  --color-surface: var(--sys-surface);
  --color-on-surface: var(--sys-on-surface);
  
  --font-sans: "Roboto", ui-sans-serif, system-ui;
  
  --sys-surface: #ffffff;
  --sys-on-surface: #1f2937;
  
  --dialog-bg: white;
  --dialog-header: #ef4444;
}

ng-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --ng-icon__color: currentColor; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --sys-surface: #111827;
    --sys-on-surface: #f9fafb;
    --dialog-bg: #1f2937;
  }
}

@layer base {
  html {
    color-scheme: light dark;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--sys-surface);
    color: var(--sys-on-surface);
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cdk-overlay-pane {
    --container-color: var(--dialog-bg);
    --header-color: var(--dialog-header);
  }
}

@layer components {
}